@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.hireBlock {
  background-color: $bgColor2;
  //height: 30vh;
  //margin-bottom: 30px;

  .hireContainer {
    @include flexMain(flex, column, space-around, center);


    .title {
      background-color: $bgColor2;
    }

    & h2 {
      @media screen and (max-width: 550px) {
        text-align: center;
      }
      @include text($fontFamily, 40px, 300, 1.2, 1.5px, $textColorForSection);
    }

    & a {
      color: $bgColor;
      text-decoration: none;
    }

    .hireBtn {
      background-color: $bgColorForFooterIcon;
      @include text($fontFamily, 18px, 600, 1, 1px, $bgSecondColor);
      padding: 10px 20px;
      border-radius: 10px;
      border: $bgColor;
      position: relative;
      z-index: 1;
      margin-bottom: 30px;
    }
  }


}



