@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.social {
  background-color: $bgSecondColor;
  @include flexMain(flex, row, space-between, center);
    & a {

    }

  .icon {

    height: 50px;
    width: 50px;
    background-color: $bgColorForFooterIcon;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
  }
}


