@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.social {
  background-color: $bgSecondColor;


  @include flexMain(flex, row, space-between, center);

  & a {
    .icon {
      height: 55px;
      width: 55px;
      background-color: $bgColorForFooterIcon;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;



      & img {
        height: 50px;
        width: 50px;
      }

  }


  }
}


