@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .picture {
    height: 300px;
    background-color: #b8beac;
    background-size: cover;
    background-position: center;
    @include flexMain(flex, column, center, center);
    position: relative;
    transition: background-size 1s ease;

    &:hover:before {
      position: absolute;
      content: "";
      background-color: #000000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
      filter: blur(1px);

    }

    //.viewBtn {
    //  background-color: $bgColorForBtn;
    //  font-family: 'Jost', sans-serif;
    //  font-size: 18px;
    //  font-weight: 600;
    //  letter-spacing: 1px;
    //  padding: 10px 20px;
    //  border-radius: 10px;
    //  position: relative;
    //  z-index: 1;
    //}
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($fontFamily, 30px, 400, 1.2, 0, $textColorForTitle);
      margin: 5px 0 0 5px;
      background: transparent;
      vertical-align: baseline;
      outline: none;
    }

    .description {
      @include text($fontFamily, 15px, 400, 1.44, 0, $titleColorForDescription);
      word-break: break-word;
    }
  }
}










