@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.header {
  height: 80px;
  width: 100%;
  //background-color: $bgSecondColor;
  background: linear-gradient(to bottom, $bgSecondColor, $bgColor);
  position: fixed;
  z-index: 1000;
  @include flexMain(flex, row, space-around, center);
  @media screen and (max-width: 500px) {
    flex-direction: column;
    height: 130px;
  }

  & h4 {
    @include text($fontFamily, 20px, 400, 1.2, 0, $textColorForSection);
  }
}