@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.contactsBlock {
  background-color: $bgColor2;

  .contactsContainer {
    min-height: 60vh;

    .secondContactsContainer {
      //margin-top: -50px;
      margin: 50px 0 50px;
      width: 100%;
      @include flexMain(flex, row, center, stretch);
      @media screen and (max-width: 993px) {
        flex-direction: column;
      }
    }
  }
}

@keyframes feedBackOpen {
  0% {
    bottom: 100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes feedBackClose {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}











