@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.contactsBlock {
  background-color: $bgColor2;

  .contactsContainer {
    min-height: 60vh;

    .secondContactsContainer {
      //margin-top: -50px;
      margin: 50px 0 50px;
      width: 100%;
      @include flexMain(flex, row, center, stretch);
      @media screen and (max-width: 993px) {
        flex-direction: column;
      }

      .myContacts {
        @include flexMain(flex, column, space-between, center);

        width: auto;
        min-width: 300px;

        @media screen and (max-width: 993px) {
          @include flexMain(flex, row, center, center);
          margin: 0 0 30px;
        }

        & span {
          @include text($fontFamily, 20px, 200, 1.2, 0, $textColorForSection);
        }

        & ul {
          list-style: none;
          padding: 0;
          margin-top: 20px;

          @media screen and (max-width: 993px) {
            @include flexMain(flex, row, space-around, center);
            margin: 0; /* Обнуляем значение отступов */
            padding: 4px; /* Значение полей */
            flex-wrap: wrap;
          }
        }

        & li {
          padding-bottom: 15px;
          position: relative;
          margin-bottom: 20px;
          @media screen and (max-width: 993px) {
            display: inline; /* Отображать как строчный элемент */
            margin-right: 15px; /* Отступ слева */
            padding: 3px; /* Поля вокруг текста */

          }

          & a {
            text-decoration: none;
          }
        }

        & img {
          width: 20px;
          height: 20px;
          margin-right: 3px;
          margin-bottom: -1px;
        }

        & img {
          width: 20px;
          height: 20px;
          margin-right: 3px;
          margin-bottom: -1px;
        }

        & h6 {
          margin: 15px 0 0;
          position: relative;
        }

        & i {
          padding-right: 10px;
        }

        &::before {

        }
      }

      .emailForm {
        width: 100%;
        float: left;
        clear: both;
        box-sizing: border-box;

        .itemsWrap {
          box-sizing: border-box;

          .items {
            margin-left: 20px;

            .itemHalf {
              margin-bottom: 20px;
              @include flexMain(flex, row, space-between, center);

              .inputWrapper {
                width: 45%;
                position: relative;
                box-sizing: border-box;


                & input {
                  position: relative;
                  z-index: 3;
                  width: 100%;
                  display: block;
                  border-radius: 1px;
                  background-color: transparent;
                  border: 1px solid rgba(255, 255, 255, .2);
                  padding: 0 20px !important;
                  line-height: 70px;
                  height: 70px;
                  box-sizing: border-box;
                  @include text($fontFamily, 20px, 400, 1, 0.5, $textColorForSection);
                  vertical-align: middle;
                  transition: all .3s ease;

                  &:focus {
                    outline: 1px solid $bgColorForFooterIcon;
                    transition: all .5s ease;
                    text-decoration: none;
                  }
                }
              }
            }

            .item {

              & textarea {
                height: 200px;
                position: relative;
                box-sizing: border-box;
                margin-bottom: 20px;
                z-index: 3;
                border-radius: 1px;
                background-color: transparent;
                line-height: 1.5;
                padding: 20px 20px;
                width: 100%;
                border: 1px solid rgba(255, 255, 255, .2);
                transition: all .3s ease;
                @include text($fontFamily, 20px, 400, 1, 0.5, $textColorForSection);

                &:focus {
                  outline: 1px solid $bgColorForFooterIcon;
                  transition: all .5s ease;
                  text-decoration: none;
                }
              }

            }

            .sendMessage {
              cursor: pointer;

              &:hover {
                outline: 1px solid $bgColorForFooterIcon;
                transition: all .5s ease;
              }

              & a {
                display: block;
                line-height: 26px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 20px 20px;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, .2);
                transition: all .3s ease;
                @include text($fontFamily, 20px, 400, 1.5, 0, $textColorForTitle);

                &:hover {
                  outline: 1px solid $bgColorForFooterIcon;
                  color: $bgColorForFooterIcon;
                  transition: all .5s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}











