.contactsBlock {
    height: 80vh;
    background-color: #8db4d0;

}

.contactsContainer {

    flex-direction: column;
    justify-content: space-between;

}

.title {
    background-color: #d99f9f;
}

.formArea {
    border: 1px solid;
    /*height: 200px;*/
    /*width: 50vh;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {

}

.button {

}









