@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainContainer {
  @include flexMain(flex, column, flex-start, flex-start);
  margin-left: 30px;
  @media screen and (max-width: 993px) {
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .input {
    @include flexMain(flex, row, flex-start, flex-start);
  }

  .textArea {

  }

  .button {
    margin: 0 auto;
    background-color: $bgColorForFooterIcon;
    @include text($fontFamily, 18px, 600, 1, 1px, $bgSecondColor);
    padding: 10px 20px;
    border-radius: 10px;
    border: $bgColor;
    position: relative;
    z-index: 1;
    //margin-bottom: 30px;
  }
}

.inputStyle {

  height: 46px;
  width: 40%;
  padding: 0 20px;
  //padding-left: 20px;
  margin-bottom: 20px;
  //border-radius: 30px;
  @include text($fontFamily, 20px, 200, 1.2, 0, $textColorForSection);
  @media screen and (max-width: 993px) {
    width: 100%;
  }
}