@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  position: relative;
  margin-top: 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    background-color: $textColorForSection;
    width: 160px;
    left: 50%;
    transform: translate(-50%, 50%);
    @media screen and (max-width: 160px) {
      width: 70%;
    }
  }

  & h2 {
    @include text($fontFamily, 48px, 400, 1.2, 0, $textColorForSection);
    margin: 0;
    padding: 0;
  }
}


