@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.skillsBlock {
  /*vh - видимая высота экрана*/
  height: auto;
  background-color: $bgColor2;
  padding: 100px 0;


  .skillsContainer {
    @include flexMain(flex, column, flex-start, center);


    .skills {

      width: 100%;
      @include flexMain(flex, row, space-around, center);
      //flex-wrap: wrap;
    }



  }
}



