@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.main {
  width: 300px;

  margin-right: 100px;
  @include flexMain(flex, row, space-around, center);

  a {
    @include text($fontFamily, 16px, 400, 1.2, 0, $textColorForSection);
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $bgColorForFooterIcon;
    }
  }

  .active {
    color: $bgColorForFooterIcon;
  }

  @media screen and(max-width: 767px) {
    display: none;

  }
}