@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.main {
  //border: 1px solid #1d1db2;
  width: 300px;
  @include flexMain(flex, row, space-around, center);
  @media screen and (max-width: 500px) {
    height: 130px;
    width: 70%;
    flex-wrap: wrap;
  }


  & a {
    @include text($fontFamily, 16px, 400, 1.2, 0, $textColorForSection);
   //transition: all .3s ease;
  }
}