@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.main {
  min-height: 100vh;
  background-color: $bgColor;

  @include flexMain(flex, row, space-between, center);

  .mainContainer {
    padding-top: 50px;
    @include flexMain(flex, row, space-between, center);
    @media screen and (max-width: 980px) {
      @include flexMain(flex, column-reverse, space-around, center);
    }


    .text {
      width: 100%;
      max-width: 500px;
      @include flexMain(flex, column, flex-start, flex-start);
      box-sizing: border-box;
      position: relative;
      padding-top: 50px;
      @media screen and (max-width: 980px) {
        max-width: 100%;

      }

      & h1 {
        padding: 0 0 15px;
        margin: 0 0 34px;
        position: relative;
        @include text($fontFamily, 48px, 400, 1.2, 0, $textColorForTitle);
        @media screen and (max-width: 980px) {
          margin-top: 40px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 2px;
          background-color: rgba(255, 255, 255, .2);
          width: 150px;
          left: 0;
        }
      }

      & p {
        padding: 0;
        margin: 0 0 37px;
        @include text($fontFamily, 30px, 200, 1.2, 0, $textColorForSection);
      }

      .signature {
        width: 100%;
        position: relative;
        margin-bottom: 70px;
        @include flexMain(flex, row, flex-end, flex-end);
      }


      .downloadCV {
        width: 100%;
        height: 100%;
        outline: 1px solid $textColorForSection;
        box-sizing: border-box;
        margin-left: 0;
        margin-bottom: 80px;
        display: flex;
        position: relative;

        &:hover {
          outline: 1px solid $bgColorForFooterIcon;
        }

        & a {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 100%;
          text-decoration: none;
          color: #888;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 20px 0 20px 0;
          transition: all 0.3s ease;
          @include text($fontFamily, 18px, 400, 1.2, 1.5px, $textColorForSection);

          .icon {
            position: relative;
            padding-top: 18px;
            color: $textColorForTitle;

            .boxSvg {
              width: 58px;
              height: 58px;
              display: block;
              margin-bottom: 14px;
              fill: currentcolor;
            }

            .arrowSvg {
              position: absolute;
              left: 50%;
              margin-left: -29px;
              top: 8px;
              will-change: transform;
              fill: currentcolor;
            }
          }
        }
      }
    }


    .photoBox {
      position: relative;
      box-sizing: border-box;
      @media screen and (max-width: 980px) {
        margin-top: 150px;
        margin-bottom: 40px;
      }

      .photoHolder {
        padding: 38px 41px;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 30px;
        z-index: 5;

        .border1 {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 20px;
          right: 0;
          top: 20px;
          border: 1px solid rgba(255, 255, 255, .2);
          border-radius: 2px;
          transition: all .3s ease;
        }

        .border2 {
          position: absolute;
          z-index: 1;
          left: 20px;
          bottom: 0;
          right: 20px;
          top: 0;
          border: 1px solid rgba(255, 255, 255, .2);
          border-radius: 2px;
          transition: all .3s ease;
        }

        .img_holder {
          position: relative;
          z-index: 2;
          box-sizing: border-box;

          & img {
            width: 300px;
            height: 300px;
            opacity: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

          .image {
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        .title_holder {
          text-align: center;
          padding: 27px 0 20px;
          position: relative;
          z-index: 2;
          box-sizing: border-box;

          & h5 {
            padding: 0;
            font-size: 18px;
            color: #999;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0 0 8px;
            @include text($fontFamily, 20px, 400, 1.2, 0, $textColorForSection)
          }

          & h3 {
            margin: 0;
            padding: 0 10px;
            font-size: 30px;
            min-height: 36px;
            position: relative;
            @include text($fontFamily, 20px, 400, 1.2, 0, $textColorForTitle);

            & span {
              box-sizing: border-box;
              font-size: 30px;

              &::before {
                content: "]";
                right: 0;
                bottom: 0;
                top: auto;
                position: absolute;
                color: #44993b;
                @include keyframes(animSpanPseudoEl) {
                  0% {
                    opacity: 0;
                  }
                  100% {
                    opacity: 1;
                  }
                }
                @include animate(animSpanPseudoEl, 2s, ease, infinite, 0s, alternate, none, running)

              }

              &::after {
                content: "[";
                left: 0;
                position: absolute;
                top: 0;
                color: #44993b;
                @include keyframes(animSpanPseudoEl) {
                  0% {
                    opacity: 0;
                  }
                  100% {
                    opacity: 1;
                  }
                }
                @include animate(animSpanPseudoEl, 2s, ease, infinite, 0s, alternate, none, running)

              }
            }
          }
        }
      }

      .contact_me {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 5;
        @include flexMain(flex, row, center, center);
        cursor: pointer;

        & a {
          text-decoration: none;
          padding-left: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          font-size: 18px;
          color: #999;
          position: relative;
          line-height: 25px;
          max-width: 100%;

          &:before {
            bottom: 0;
            left: 20px;
            right: 0;
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
            content: '';
            position: absolute;
            //transition: all .3s ease;
          }
        }

        .circle {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: #44993b;
          left: 0;
          top: 50%;
          margin-top: -5px;
          display: block;
        }

        .spanText {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          @include text($fontFamily, 20px, 300, 1.2, 0, $textColorForSection)
        }
      }
    }
  }
}