@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.projectsBlock {
  background-color: $bgColor;
  padding: 100px 0;

  .projectContainer {
    @include flexMain(flex, column, flex-start, center);
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      @include flexMain(flex, row, space-around, flex-start);
      flex-wrap: wrap;
      margin-top: 16px;
      @media screen and (max-width: 999px) {
        justify-content: center;
      }
    }
  }
}

