@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.projectsBlock {
  background-color: $bgColor;
  //padding: 100px 0;

  .projectContainer {
    @include flexMain(flex, column, flex-start, center);
    flex-wrap: nowrap;
    padding: 80px 0 ;

    .projects {
      width: 100%;
      @include flexMain(flex, row,space-between, flex-start);
      flex-wrap: wrap;
      margin-top: 46px;
      gap: 20px;
      @media screen and (max-width: 999px) {
        justify-content: center;
        gap: 50px;      }
    }
  }
}

