@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    @include flexMain(flex, column, space-between, center);
    background-color: $bgSecondColor;
    position: absolute;
    height: 0;
    right: 0;
    top: 0;
    left: 0;
    padding: 20px;
    transform: translate(0, -100px);
    transition: 0.7s;

    a {
      @include text($fontFamily, 16px, 400, 1.2, 0, $textColorForSection);
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: $bgColorForFooterIcon;
      }
    }

    .active {
      color: $bgColorForFooterIcon;
    }
  }

  .show {
    transform: translate(0, 0);
    height: 90px;
  }

  .burgerButton {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;

    &:before {
      content: '';
      background-color: $textColorForSection;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      top: 0;
      transition: all 0.3s ease 0s;
    }

    &:after {
      content: '';
      background-color: $textColorForSection;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      transition: all 0.3s ease 0s;
    }

    & span {
      position: absolute;
      background-color: $textColorForSection;
      width: 100%;
      height: 3px;
      top: 13px;
      transition: all 0.3s ease 0s;
      animation: burgerSpan 0.4s cubic-bezier(.165, .84, .44, 1);
    }

  }

  .activeBurger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;

    &:before {
      content: '';
      background-color: $bgColorForFooterIcon;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      top: 11px;
      transform: rotate(45deg);
      transition: all 0.3s ease 0s;
    }

    &:after {
      content: '';
      background-color: $bgColorForFooterIcon;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 16px;
      transform: rotate(-45deg);
      transition: all 0.3s ease 0s;
    }
  }

  @media screen and(min-width: 767px) {
    display: none;
  }
}

@keyframes burgerSpan {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}