$textColorForSection: #d8ccbe82;
$titleColorForDescription: #888;
$textColorForTitle: #ddd;
$bgColor: #1d1b19;
$bgSecondColor: #181715;
$bgColorForBtn: #d8ccbe82;
//$bgColorForLink: #ddd;
$fontFamily: 'Jost', sans-serif;