@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";



.footerBlock {
  background-color: $bgColor;

  .footerContainer {
    @include flexMain(flex, column, flex-start, center);

    & h3 {
      @include text($fontFamily, 25px, 300, 1.2, 1.5px, $textColorForSection);
      margin-top: 0;
      @media screen and (max-width: 315px) {
        background: transparent;
        vertical-align: baseline;
        outline: none;
        word-break: break-word;
        text-align: center;
      }
    }

    .footer {
      margin-top: 30px;
      width: 250px;
      background-color: $bgColor;


      @include flexMain(flex, row, space-between, center);
      @media screen and (max-width: 315px) {
        flex-wrap: wrap;
        width: 100%;
      }
    }



  }


}
