@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.footerBlock {
  background-color: $bgColor;

  .footerContainer {
    @include flexMain(flex, column, flex-start, center);
  }

  & h2 {
    @include text($fontFamily, 40px, 300, 1.2, 1.5px, $textColorForSection);
  }

  & h6 {
    @include text($fontFamily, 12px, 200, 1.2, 1.1px, $textColorForSection);
  }

  .footer {
    width: 250px;
    background-color:$bgColor;
    //border: 1px solid;
    @include flexMain(flex, row, space-between, center);
  }
}
